body
{
    margin: 0; /* Only there just to make sure the navigation bar is stretched out properly with no spaces */
}

h1
{
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
}

/* Creating the navigation bar by making the black bar being fixed to the hyperlink tags */
ul
{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    background-color: #333;
    top: 150px;
    width: 100%;
}

/* Spacing it out */
li
{
    float: left;
    width: 420px;
}

/* Editing out the hyperlinks to blend in within the navigation bar */
li a
{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* If the mouse hovers over, make it so the color/shade appears within the navigation bar */
li a:hover:not(.active)
{
    background-color: #111;
}

/* Active only on the page the user is currently on */
.active
{
    background: green;
}

/* Registration page */
.registration
{
    padding: 16px;
    background-color: white;
}

/* Input fields */
input[type=text], input[type=password], input[type=email], input[type=tel]
{
    width: 100%;
    padding: 15px;
    margin: 5px 0px 22px 0px;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

/* Input fields if selected */
input[type=text]:focus, input[type=password]:focus, input[type=email]:focus, input[type=tel]:focus
{
    background-color: #ddd;
    outline: none;
}

/* Editing the hint description */
.registration .desc
{
    font-size: 10px;
}

/* Headers */
hr
{
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}

/* Registration button */
.registerbtn
{
    background-color: green;
    color: white;
    padding: 16px 20px;
    margin: 8px 0px;
    border: none;
    cursor: pointer;
    opacity: 0.9;
}

/* If hovering over the registration button */
.registerbtn:hover
{
    opacity: 1;
}

/* Reset button */
.resetbtn
{
    background-color: green;
    color: white;
    padding: 16px 20px;
    margin: 8px 0px;
    border: none;
    cursor: pointer;
    opacity: 0.9;
}

/* If hovering over the reset button */
.resetbtn:hover
{
    opacity: 1;
}